*.so
*.o
*~
.*~
.DS_Store
.Rhistory
.RData
vignettes/*_cache
vignettes/_region_.*
vignettes/prv_*.log
README.R
README.html
*.aux
*.bcf
*.bbl
*.blg
*.log
*.out
*.rel
*.run.xml
*.synctex.gz
_region_*
cache
inst/doc/*
doc
Meta
/doc/
